/* Cheong Vicky, S10267187G */

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap');

body, .ant-layout {
    background-color: white;
    color: #fff !important;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
}

.ant-typography,
.ant-typography p, 
.ant-typography span,
.ant-typography ul,
.ant-typography li {
    color: #333 !important;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
}

.ant-menu {
    background-color: #fff;
    color: #333 !important;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
}

.ant-menu-item, .ant-menu-submenu-title {
    color: #333 !important;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
}

.ant-menu-item:hover {
    background-color: #eae8e8;
}

.ant-menu-item-selected {
    background-color: #FFD300 !important; /* Highlight selected item with yellow */
    color: #121212; /* Make selected text dark */
}

.ant-btn-primary {
    background-color: #FFD300; /* Yellow button */
    border-color: #FFD300;
    color: #121212; /* Black text */
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
}

.ant-btn-primary:hover {
    background-color: #ffcc00; /* Slightly darker yellow on hover */
    color: #121212; /* Ensure text stays black on hover */
}
