@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap');

body, .ant-layout {
    background-color: white;
    color: #121212 !important;
    font-family: 'Figtree', sans-serif !important;
}

.ant-typography, .ant-menu, .ant-menu-item, .ant-menu-submenu-title {
    font-family: 'Figtree', sans-serif !important;
    color: #333 !important;
}

.ant-menu {
    background-color: white;
    color: #333 !important;
    border-bottom: 1px solid #ddd;
}

.ant-menu-item:hover {
    background-color: #f0f0f0;
}

.ant-menu-item-selected {
    background-color: #FFD300 !important; /* Yellow */
    color: #121212 !important;
}

.ant-btn-primary {
    background-color: #FFD300;
    border-color: #FFD300;
    color: #121212;
}

.ant-btn-primary:hover {
    background-color: #ffcc00;
    color: #121212;
}
