@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: white;
  color: #121212;
  font-family: 'Figtree', sans-serif;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: 'Figtree', sans-serif;
}

.description p {
  margin: 0;
  padding: 1rem;
  background-color: #f5f5f5; /* Light grey background */
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  color: #333;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: #ffffff;
  border: 1px solid #ddd;
  transition: background 200ms, border 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #121212;
}

.card p {
  color: #333;
}

.card:hover {
  background: #f0f0f0;
  border: 1px solid #ccc;
}

/* Light Mode Specific Styles */
@media (prefers-color-scheme: light) {
  .center::before {
    background: #f0f0f0;
  }

  .center::after {
    background: #e0e0e0;
  }

  .description p {
    background: #ffffff;
    color: #333;
  }
}
